.lista_tarea{
    position: absolute;
    top: 0;
    left:0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(51,41,929);
    transform: translateX(-50vw);
    transition: transform 1s ease;
    overflow-x: auto;
    z-index: 1;
}
.lista_tarea .contenido{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btn_ocultar{
    position: absolute;
    top: 50%;
    right: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.btn_ver_tareas{
    position: absolute;
    top:45%;
    left: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.lista_tarea .contenido{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

}
.lista_tarea_ver{
    transform: translateX(0vw);
}

@media screen and (max-width: 768px){
    .lista_tarea{
        width: 100vw;
        transform: translateX(-100vw);
    }
    .lista_tarea_ver{
      transform: translateX(0vw);
    }
}
